
# Created by https://www.gitignore.io/api/java

### Config ###
config.json
tags.sqlite
notes.txt
nameref.txt
core

# Extra Storage
JSON/prefixes.json
JSON/settings.json
prefixes.json

# Node Folders
node_modules/
TrialKit.js

# Package 
package-lock.json
package.json

# End of https://www.gitignore.io/api/java